.button {
    background: #46A3FF;
    font-size: 20px;
    width: 300px;
    margin-left:30px;
    border-radius: 10px;
}

.button:hover {
    background: #ACD6FF;
    color: red;

}

.button:active {
    background: #FFD2D2;
    color: white;
}
table{
    margin-top:100px;
    margin-left:500px;
    height:300px;
}
body{
    background:#f8d7da;
}