
.b {
    position:absolute;
    top:8px;
    left:527px;
    width: 700px;
    height: 550px;

}
table{
    position:absolute;
    top:100px;
    left:150px;
    width:50%;
    height:300px;

}
.button {
    background: #46A3FF;
    font-size: 20px;
    width: 250px;
    margin-left: 150px;
    border-radius: 10px;
}

.button:hover {
    background: #ACD6FF;
    color: red;

}

.button:active {
    background: #FFD2D2;
    color: white;
}
.register {
    color: black;
    margin-left: 40px;
    font-size: 20px;
}

.register:hover {
    font-size: 25px;
    color: red;
}